<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Student Maps and view reports</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-image: url(https://www.thomas.co/sites/default/files/thomas-files/2022-04/DUT%20hero.jpg);
            background-size: cover;
            background-attachment: fixed;
        }

        .maps {
            float: left;
            color: black;
            background-color: rgba(0,0,0,.4);
            color: #fff;
            border-radius: 20px;
        }
    </style>
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Student Maps</h1>
    <br />
    <div class="maps">
        <h1>Steve Biko Map</h1>
        <img src={{url_for('static', filename='images/SteveBikoMap.jpg')}} height="900" width="800" />
        <br />
        <h1>Ritson Map</h1>
        <img src={{url_for('static', filename='images/RitsonMap.jpg')}} height="900" width="800" />
        <br />
        <h1>ML Sultan Map</h1>
        <img src={{url_for('static', filename='images/MLSultanMap.jpg')}} height="900" width="800" />
    </div>
</body>
{% endblock %}
</html>